fastapi
uvicorn[standard]
python-multipart
websockets
pandas
numpy
scikit-learn
matplotlib
seaborn
opencv-python-headless
mediapipe
deepface
tf-keras
langchain
langchain-google-genai
scipy
joblib
web3
requests
